/**
 * *************************************************************
 * VARIABLES
 * *************************************************************
**/
:root{
	--decoration-color: #644113;
	--border-nav: 2px solid #fff;
  --back-color: #165c91;
  --font-color-main: #fff;
  --highlight-color: #f0e923;
  --orange-color: #ef9809;
  --yellow-color: #b69c00;
  /* #d4b22c; */

}

/**
 * *************************************************************
 * GENERAL
 * *************************************************************
**/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  /* background:  var(--orange-color); */
  color: var(--font-color-main);
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

/**
 * *************************************************************
 * SLIDER-CSS
 * *************************************************************
**/

#home {
  background-image: url(../img/casa.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  position: relative;
  margin: 0 auto;
}

/**
 * *************************************************************
 * HEADER
 * *************************************************************
**/
.header{
	height: 100vh;
}

/*--------------------
-----navbar-nav-----
--------------------*/
.top-header {
  width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 9999;
    right: 0;
    margin-right: 7%;
}

.top-nav ul {
  width: 100%;
  padding: 0;
  margin-top: 20px;
}

.top-nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.top-nav ul li a{
  display: block;
  color: rgb(220, 231, 114);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}


.top-nav ul li.active a,
.top-nav ul li a:hover {
  border-bottom: 2px solid rgb(220, 231, 114);
}

/**** top-nav *****/
nav {
  position: relative;
  padding: 0 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  position: relative;
}

nav a:hover {
  text-decoration: none;
}
nav a#pull {
  display: none;
}

.title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  text-shadow: 6px 6px 5px #000;
  font-family: 'Arizonia', cursive;
  height: 90%;
}

.title-container h1{
  font-size: 900%;
  text-align: center;
}

.title-container p{
  font-size: 500%;
  text-align: center;
}

.scroll-mouse{
  margin: 0 auto;
  height: 10%;
  text-align: center;
  font-size: 1.5rem;
  color: var(--font-color-main);
}

.arrow{
  animation-name: animated-arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes animated-arrow {
  0%   {margin-top: 0;}
  15%  {margin-top: 2px;}
  25%  {margin-top: 5px;}
  50%  {margin-top: 10px;}
  75%  {margin-top: 15px;}
  100% {margin-top: 20px;}
}

/**
 * *************************************************************
 * MAIN
 * *************************************************************
**/

h3{
  font-family: 'Poppins', sans-serif;
  color: var(--font-color-main);
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 1px #000;
}

.subtitle{
  padding: 20px 0;
}
/*-----------------------------
--->>>  we section  <<<----
-----------------------------*/

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 50px 50px 50px;
  justify-content: start;
  background-color: var(--yellow-color);
  row-gap: 0;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
}

.we-section .grid-container .subtitle{
  grid-column: 1 / span 2;
}

.we-grid-img img{
  width: 100%;
  box-shadow: 5px 5px 10px #000;
}

.we-grid-text p {
  font-size: 1.3em;
  margin: 1em;
  font-weight: 400;
  line-height: 1.8em;
}

/*-----------------------------
--->>> Actor-section  <<<----
-------------------------------*/

.actor-section {
  padding: 0 0 3em 0;
  background-color: var(--back-color);
}

.grid-container-actors{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0 50px 50px 50px;
  justify-content: start;
  row-gap: 0;
  column-gap: 50px;
  justify-content: center;
}

.grid-container-actors .subtitle{
  grid-column: 1 / span 4;
  margin: 20px 0;
}

.gallery-box {
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.gallery-box h4 {
  font-size: 1.3em;
  margin: 1em;
  font-weight: 500;
}
.gallery-box p {
  text-align: start;
  font-size: 1em;
  margin: 1em;
  font-weight: 400;
  line-height: 1.8em;
}

.gallery-box .image-box{
  /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5); */
  overflow: hidden;
}

.gallery-box .image-box img{
  width: 100%;
  max-height: fit-content;
}

.gallery-box .image-box img:hover{
  transform: scale(1.2);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* Efecto 1 */
.gallery-box .image-box1 img{
  width: 100%;
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(2px);
  transform: scale(1.2);
}

.gallery-box .image-box1 img:hover{
  filter: blur(0);
  transform: scale(1);
}

/* Efecto 2 */
.gallery-box .image-box2 img{
  width: 100%;
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

.gallery-box .image-box2 img:hover{
  filter: grayscale(0);
  transform: scale(1.1);
}

/* Efecto 3 */
.gallery-box .image-box3 img{
  width: 100%;
  transition: transform .5s ease-in-out;
}

.gallery-box .image-box3 img:hover{
  transform: scale(1.5) rotate(10deg);
}

/*-------------------------------
-->>> work-section (Slider) <<<--
-------------------------------*/

.works{
  background-color: #1e7c13;
}

.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

/*-------------------------------
-->>>      Footer           <<<--
-------------------------------*/

/*---------/footer-------*/
footer {
  padding: 0.7em 0;
  background: #1e2b38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .redes {
  height: 20vh;
  padding: 25px 0;
}

footer .redes .contenedor {
  display: flex;
  justify-content: center;
}

footer .redes a {
  color: white;
  text-align: center;
  width: 100px;
  display: block;
  padding: 15px 0;
  border-radius: 3px;
  font-size: 30px;
  margin: 0 20px;
}

footer .redes .twitter:hover {
  background: #1da1f2;
}

footer .redes .facebook:hover {
  background: #3b5998;
}

footer .redes .youtube:hover {
  background: #cd201f;
}

footer .redes .instagram:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.logo-footer{
  text-align: center;
}

.logo-footer img{
  width: 100px;
}

.copyright{
  margin: 50px;
}
